Source: rocgdb
Section: unknown
Priority: optional
Maintainer: Mathew Thomas <mathewthomas358@gmail.com>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/rocgdb
#Vcs-Git: https://salsa.debian.org/debian/rocgdb.git
Rules-Requires-Root: no

Package: rocgdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
